<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<listener>
	<listener-class>com.tjitcast.web.servlet.OnlineListener</listener-class>
	</listener>
	<filter>
		<filter-name>characterEncodingFilter</filter-name>
		<filter-class>
			com.tjitcast.web.servlet.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>characterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<context-param>
		<param-name>personname</param-name>
		<param-value>zyj</param-value>
	</context-param>
	<servlet>
		<servlet-name>FirstServlet</servlet-name>
		<servlet-class>
			com.tjitcast.web.servlet.FirstServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SecondServlet</servlet-name>
		<servlet-class>
			com.tjitcast.web.servlet.SecondServlet
		</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>FirstServlet</servlet-name>
		<url-pattern>/firstServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SecondServlet</servlet-name>
		<url-pattern>/secServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>
			com.tjitcast.web.servlet.LoginServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>
			com.tjitcast.web.servlet.LogoutServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
